body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.box-social {
    margin-left: auto;
}

.box-social a {
    font-style: italic;
    font-weight: lighter;
}

.navbar .collapse .box-firts-menu a {
    font-weight: bolder;
}

.navbar {
    border-bottom: thin solid #2E9AFE;
}


/* .category_menu {} */