body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.box-social {
    margin-left: auto;
}

.box-social a {
    font-style: italic;
    font-weight: lighter;
}

.navbar .collapse .box-firts-menu a {
    font-weight: bold;
    font-size: 12px;
}

.main_nav {
    border-bottom: thin solid #2E9AFE;
    font-weight: bold;
}


/* .category_menu {} */

.menu-category {
    margin-top: 64px;
    height: 60px;
    background: #585858;
    display: flex;
    text-justify: center;
}

.categ_item {
    font-weight: bold;
    margin: auto;
    font-size: 12px;
    /* margin-left: 12px; */
}

.categ_item li a:hover {
    border-bottom: thin solid #2E9AFE;
    border-top: thin solid #2E9AFE;
}

.box-social-network {
    height: 600px;
    width: 80px;
    background: #2E9AFE;
    margin-top: auto;
    margin-left: auto;
    display: flex;
}